h1 { 
	background-color: rgb(198, 189, 214); 
	color: rgb(63, 30, 126); 
	font-size: xx-large; 
	padding: 5%; 
} 
.card{ 
    
    background-color:aqua;
	min-width: 30%; 
	width: 50vh; 
	min-height: 30vh; 
	transition: 0.3s; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px; 
    border-style: ridge;
	margin: auto; 
	padding: 2%; 
} 
body { 
	background-color: pink;
	display: flex; 
    background-attachment:fixed;
    text-align: center;
	font-family:Georgia, 'Times New Roman', Times, serif;
} 
#inputletter{ 
	width: 30px; 
	padding: 2%; 
	font-size: larger; 
	text-align: center; 
	margin-left: 2%; 
} 
#displayWord { 
	font-size: xx-large; 
}